# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List of common used libraries used for Data Science
- List of Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pytorch
3. Keras

| Data Science Tools |
| ------ |
| RStudio |
| Apache Spark |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to multiply then add integers.

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [8]:
200/60

3.3333333333333335

## Author
Marco